<html>

<head>
	<title>SBOM Report</title>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Slab&display=swap');

		body {
			font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif;
			color: #404040;
			margin: 51px;
			font-size: 16px;
		}

		pre {
			font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
			font-size: 12px;
			line-height: 1.4;
			padding: 12px;
			border: 1px solid #e1e4e5;
			margin: 1px 0 24px;
			background: #f8f8f8;
		}

		h1 {
			font-family: Roboto Slab,ff-tisa-web-pro,Georgia,Arial,sans-serif;
			border-top: 1px solid #ddd;
			padding-top: 20px;
			margin-top: 0px;
			margin-bottom: 24px;
		}

		h2 {
			font-family: Roboto Slab,ff-tisa-web-pro,Georgia,Arial,sans-serif;
			border-top: 1px solid #ddd;
			padding-top: 24px;
			margin-top: 0px;
			margin-bottom: 24px;
		}

		a {
			color: #00a9ce;
			text-decoration: none;
		}

		a:hover {
			color: #0077C8;
		}

		div {
			line-height: 24px;
		}

		p {
			line-height: 24px;
		}

		.src {
			font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
			font-size: 12px;
		}

		.fa {
			text-decoration: none;
			color: #404040;
		}

		.fa:hover {
			text-decoration: none;
			color: #0077C8;
		}

		div.note-header {
			background: #6ab0de;
			color: white;
			font-weight: bold;
			padding: 4px 4px 4px 12px;
		}

		div.note-content {
			background: #e7f2fa;
			color: #404040;
			padding: 12px;
		}
	</style>
</head>

<body>
	<h1>Software Bill of Material Report</h1>

	{% if '' in files_by_license %}
	<div class="note-header">
		<img style="height: 14px; vertical-align: -1px;" src="data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20width%3D%2216px%22%20height%3D%2216px%22%20version%3D%221.1%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%228%22%20cy%3D%228%22%20r%3D%228%22%20fill%3D%22%23fff%22%2F%3E%3Crect%20x%3D%226.5%22%20y%3D%222.5%22%20width%3D%223%22%20height%3D%227%22%20fill%3D%22%236ab0de%22%2F%3E%3Crect%20x%3D%226.5%22%20y%3D%2210.5%22%20width%3D%223%22%20height%3D%223%22%20fill%3D%22%236ab0de%22%2F%3E%3C%2Fsvg%3E">
		&nbsp;Note
	</div>
	<div class="note-content">
		Some of the files does not contains license information or the license contained in them cannot be detected.
		See <a href="#no-license">license details</a> for list of files.
		Evaluate them manually to get license information.
	</div>
	{% endif %}

	<p>This report was generated from the following inputs:</p>
	<ul>
		{% for input in inputs %}
		<li><span class="src">{{input|e}}</span></li>
		{% endfor %}
	</ul>

	<p>Detected files are covered by the licenses:</p>
	<ul>
		{% for license in licenses_sorted %}
		{% if license and license in files_by_license %}
		<li><a href="#{{license|e}}">{{licenses[license].friendly_id|e}}</a></li>
		{% endif %}
		{% endfor %}
		{% if '' in files_by_license %}
		<li>Possibly other licenses that <a href="#no-license">cannot be detected automatically</a></li>
		{% endif %}
	</ul>

	<p>Following licenses are not covered by <a href="https://spdx.org/licenses/">SPDX License List</a>,
		so texts are added to this report:</p>
	<ul>
		{% for license in licenses_sorted if not licenses[license].is_expr and licenses[license].text != None %}
			<li><a href="#text-{{license|e}}">{{licenses[license].friendly_id|e}}</a></li>
		{% endfor %}
	</ul>

	<a name="license-details"></a>
	<h1>License details</h1>

	{% if '' in files_by_license %}
	<a name="no-license"></a>
	<h2>No license information detected</h2>
	<p>Files without any license information or with a license information that cannot be detected automatically.</p>
	<pre>
{% for file_info in files_by_license[''] %}<a href="file:///{{file_info.file_path|e}}" class="fa">{{file_info.file_path|e}}</a>
{% endfor -%}
	</pre>
	{% endif %}

	{% for license in licenses_sorted %}
	{% if license and license in files_by_license %}
	<a name="{{license|e}}"></a>
	<h2>{{licenses[license].friendly_id|e}}</h2>
	<p>
		{% if licenses[license].is_expr %}
			License expression
			{% if not licenses[license].valid %}
				that cannot be correctly interpreted
			{% endif %}
			{% if licenses[license].licenses %}
				with following licenses:<ul>
				{% for sub_license in licenses[license].licenses %}
					<li>
					{{licenses[sub_license].friendly_id|e}}<br />
					{% if licenses[sub_license].custom %}
						Non-standard SPDX License:
					{% endif %}
					{% if licenses[sub_license].name != None %}
						{{licenses[sub_license].name|e}}
					{% else %}
						{{licenses[sub_license].friendly_id|e}}
					{% endif %}
					{% if licenses[sub_license].url != None %}
						<br /><a href="{{licenses[sub_license].url|e}}">{{licenses[sub_license].url|e}}</a>
					{% endif %}
					{% if licenses[sub_license].text != None %}
						<br />See <a href="#text-{{sub_license|e}}">license text below</a>.
					{% endif %}
					</li>
				{% endfor %}
			{% endif %}
			</ul>
		{% else %}
			{% if licenses[license].custom %}
				Non-standard SPDX License:
			{% endif %}
			{% if licenses[license].name != None %}
				{{licenses[license].name|e}}
			{% else %}
				{{licenses[license].friendly_id|e}}
			{% endif %}
			{% if licenses[license].url != None %}
				<br /><a href="{{licenses[license].url|e}}">{{licenses[license].url|e}}</a>
			{% endif %}
			{% if licenses[license].text != None %}
				<br />See <a href="#text-{{license|e}}">license text below</a>.
			{% endif %}
		{% endif %}
	</p>
	<pre>
{% for file_info in files_by_license[license] %}<a href="file:///{{file_info.file_path|e}}" class="fa">{{file_info.file_path|e}}</a>
{% endfor -%}
	</pre>
	{% endif %}
	{% endfor %}

	<h1>Custom license texts</h1>

	{% for license in licenses_sorted if not licenses[license].is_expr and licenses[license].text != None %}
	<a name="text-{{license|e}}"></a>
	<h2>{{licenses[license].friendly_id|e}}</h2>
	<pre>{{licenses[license].text|e}}</pre>
	{% endfor %}
</body>

</html>