/*
 * Copyright (c) 2019 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	chosen {
		ncs,irq-timing = &uart134;
	};

	zephyr,user {
		pwms = <&pwm130 0 PWM_MSEC(100) PWM_POLARITY_INVERTED>;
	};

	gpiosout {
		compatible = "gpio-leds";
		trigger_pin: trigger-pin {
			gpios = <&gpio0 0 0>;
			label = "IRQ Latency trigger pin";
		};
		response0_pin: response0-pin {
			gpios = <&gpio0 4 0>;
			label = "IRQ Latency response0 pin";
		};
		response1_pin: response1-pin {
			gpios = <&gpio0 5 0>;
			label = "IRQ Latency response1 pin";
		};
		response2_pin: response2-pin {
			gpios = <&gpio0 6 0>;
			label = "IRQ Latency response2 pin";
		};
		response3_pin: response3-pin {
			gpios = <&gpio0 7 0>;
			label = "IRQ Latency response3 pin";
		};
	};

	gpiosin {
		compatible = "gpio-keys";
		input_pin: input-pin {
			gpios = <&gpio0 1 0>;
			label = "IRQ Latency input pin";
		};
	};

};

&pinctrl {
	pwm130_default_alt: pwm130_default_alt {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 1, 0)>;
		};
	};

	pwm130_sleep_alt: pwm130_sleep_alt {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 1, 0)>;
			low-power-enable;
		};
	};
	uart134_default: uart134_default {
		group1 {
			psels = <NRF_PSEL(UART_TX, 1, 4)>;
		};

		group2 {
			bias-pull-up;
			psels = <NRF_PSEL(UART_RX, 1, 5)>;
		};
	};
	uart134_sleep: uart134_sleep {
		group1 {
			low-power-enable;
			psels = <NRF_PSEL(UART_TX, 1, 4)>,
				<NRF_PSEL(UART_RX, 1, 5)>;
		};
	};

};

&pwm130 {
	status = "okay";
	pinctrl-0 = <&pwm130_default_alt>;
	pinctrl-1 = <&pwm130_sleep_alt>;
	pinctrl-names = "default", "sleep";
};

&uart134 {
	status = "okay";
	current-speed = <1000000>;
	#current-speed = <115200>;
	#current-speed = <250000>;
	pinctrl-0 = <&uart134_default>;
	pinctrl-1 = <&uart134_sleep>;
	pinctrl-names = "default", "sleep";
	/delete-property/ hw-flow-control;
	memory-regions = <&cpuapp_dma_region>;
};

&gpio1 {
	status = "okay";
};
